{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 47.8461055,
    "longitude": 25.9181822,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Europe/Bucharest",
    "external_url": null,
    "internal_url": null,
    "currency": "RON",
    "country": "RO",
    "language": "en",
    "radius": 174
  }
}